h1{
    text-align: center;
}
#formConsulta{
    margin: 0 auto;
}
#inputConsulta{
    margin-right: 10px;
}

#bodyInicial{
    /* The image used */
    background-image: url(/ProyectoFinalArqDatos/images/ImagenMinutoDios.png) ;
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

}